/ヘッダーは部分テンプレートにて別途流用予定です
.Container
  .Register
    %h2.Register__title
      新規会員登録
    .Register__form
      .Contents
        .ContentBlock
          %label.ContentBlock__item
            ニックネーム
            %span.ContentBlock__requirement
              必須
            %input{type: "text", class: "ContentBlock__input", placeholder: "(例)鈴木一郎"}
        .ContentBlock
          %label.ContentBlock__item
            メールアドレス
            %span.ContentBlock__requirement
              必須
            %input{type: "text", class: "ContentBlock__input", placeholder: "携帯・パソコンどちらでも可能"}
        .ContentBlock
          %label.ContentBlock__item
            パスワード
            %span.ContentBlock__requirement
              必須
            %input{type: "text", class: "ContentBlock__input", placeholder: "7文字以上の半角英数字"}
            %p.Notes
            ※ 英字と数字の両方を含めて設定してください
        .ContentBlock
          %button{tyep: "submit", class: "ContentBlock__submit"}次へ進む
/フッターーは部分テンプレートにて別途流用予定です