.fa-question-circle{
  color:rgb(0, 149, 238);
  margin-left: 8px;
  margin-bottom:8px;
}

// JSで追加される要素

.ImageSide__form__icon-under{
  width: 100%;
  font-size: 24px;
  border:1px dashed lightslategray;
  background-color:rgb(245, 245, 245);
  margin-top: 10px;
  padding:0 5px;
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 767px){
  height: 150px;
  width: 100%;
  }
}

.ErrorMessage{
  font-size:16px;
  font-size: initial;
  font-weight: initial;
  color:red;
  margin-top: 15px;
}

.ErrorMessage__price{
  font-size:16px;
  color:red;
  text-align: end;
  font-weight: initial;
  margin-top: 15px;
}

.ImageFile{
  display: none;
}

.ImageSide__form__icon__text-under{
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
  @media (max-width: 767px){
  display: none;
  }
}
.js-remove{
  margin-right: auto;
}

.delet-btn{
  margin-right: auto;
}
#previews{
  display: flex;
}

.cotent{
  font-size:12px;
  display: flex;
  justify-content: center;
  padding:0 15px;
  color: #3CCACE;
  @media (min-width: 768px){
  font-size:15px;
  margin-top:8px;
  }
}

.show-image{
  height: 112px;
  width: 101.8px;
  background-color:white;
  border: 1px solid lightgrey;
  margin:10px 10px 0 0;
  @media (min-width: 768px){
  height: 150px;
  width: 116px;
  }
}
.image-file{
  width: 100%;
  height: 80px;
  @media (min-width: 768px){
  height: 100px;
  }
}

@mixin select {
  width: 100%;
  height: 48px;
  margin-top:16px;
  padding:0 16px;
  text-decoration:none;
}

@mixin content {
  padding: 16px;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  border-bottom:1px solid lightgray;
  @media(min-width: 768px) {
  padding: 40px;
  }
}

#product_product_status_id{
  @include select
}

#product_delivery_burden_id{
  @include select
}

#product_postal_prefectures_id{
  @include select
}

#product_estimated_shipping_id{
  @include select
}

#product_category_id{
  @include select
}

.child_category_id{
  @include select
}

.grandchild_category_id{
  @include select
}

.product{
  background-color:lightgray;
  &__contents{
    background-color:white;
    margin: 0px auto;
    width: 100%;
    @media(min-width: 768px) {
    max-width: 700px;
    }
    @media(min-width: 1068px) {
    max-width: 700px;
    }
    .ImageSide{
      @include content;
      &__label{
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4em;
        &__required{
          @include requirement;
        }
      }
      &__PhotoNumber{
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.4em;
      }
      &__form{
          display: flex;
        &__icon{
          width: 100%;
          font-size: 24px;
          border:1px dashed lightslategray;
          background-color:rgb(245, 245, 245);
          margin-top: 10px;
          padding:0 5px;
          height: 112px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @media (min-width: 767px){
          height: 150px;
          width: 100%;
          }
          &__text{
            font-size: 12px;
            line-height: 1.4em;
            text-align: center;
            @media (max-width: 767px){
            display: none;
            }
          }

            
          }
        }
      }
    }
    .ProductSide{
      @include content;
    &__name{
      font-size: 14px;
      font-weight: bold;
      line-height: 1.4em;
      margin-top:10px;
      &__required{
        @include requirement;
      }
    }
    &__NameBox{
      margin-top: 16px;
      padding:0 16px;
      width: 100%;
      height: 48px;
      box-sizing: border-box;
    }
    &__description{
      margin-top: 32px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        @include requirement;
      }
    }
    &__form{
      margin-top:16px;
      padding:13px 16px;
      width: 100%;
      box-sizing: border-box;
    }
    &__LengthCount{
      text-align: end;
      color: #888;
      font-size: 12px;
      line-height: 1.4em;
      margin-top:16px;
    }
    @media(min-width: 768px) {
    padding: 40px;
    }
  }
  .DetailsSide{
    @include content;
    &__details{
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      margin-bottom:24px;
      color:lightgray;
    }
    &__category{
      margin-top:16px;
      color:black;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        @include requirement;
      }
    }
    &__CategoryBox{
      width: 100%;
      height: 48px;
      margin-top:16px;
      padding:0 16px;
      text-decoration:none;
    }
    &__brand{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__any{
        font-size:12px;
        color:white;
        background-color:lightgray;
        margin-left: 8px;
        padding:0 4px;
        border-radius: 2px;
        display: inline-block;
        font-style: normal;
        line-height: 1.4em;
      } 
    }
    &__BrandName{
        width: 100%;
        height: 48px;
        margin-top:16px;
        padding:0 16px;
        box-sizing: border-box;
    }
    &__status{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        @include requirement;
      }
    }
  }
  .delivery{
    @include content;
    &__method{
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      margin-bottom:24px;
      color:lightgray;
    }
    &__price{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        @include requirement;
      }
    }
    &__area{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        @include requirement;
      }

    }
    &__day{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        @include requirement;
      }
    }
  }
  .price{
    @include content;
    &__example{
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      margin-bottom:24px;
      color:lightgray;
    }
    &__SellingPrice{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      display: flex;
      align-items: center;
      &__required{
        @include requirement;
      }
      &__PriceForm{
        margin-left: auto;
        &__input{
          margin-left: 10px;
          text-align: end;
          height: 48px;
          width: 250px;
        }
      }
    }
    &__fee{
      margin-top:32px;
      padding-bottom:16px;
      font-size:14px;
      line-height: 1.4em;
      display: flex;
      justify-content: space-between;
    }
    &__sales{
      margin-bottom:32px;
      font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      border-top:1px solid lightgray;
      padding-top: 16px;
      @media(min-width: 768px) {
      padding-top: 16px;
      margin-bottom:64px;
      }
      font-size:14px;
      line-height: 1.4em;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .BtnSide{
    margin: 0px 16px 24px;
    @media(min-width: 768px) {
      margin: 0px auto 32px;
      width: 360px;
    }
    &__listing-btn{
      display: block;
      background-color:#3CCACE;
      font-size: 17px;
      min-height: 48px;
      padding: 0 24px;
      border: 1px solid transparent;
      border-radius: 4px;
      font-weight: bold;
      color:white;
      width:100%;
      }
    &__draft-btn{
      margin-top:15px;
      background-color:lightgray;
      font-size: 17px;
      min-height: 48px;
      padding: 0 24px;
      border: 1px solid transparent;
      border-radius: 4px;
      font-weight: bold;
      width:100%;
    }
    &__return{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top:15px;
      text-decoration: none;
      color:rgb(0, 149, 238);
    }
    &__required{
      @include requirement;
    }
  }
  .caution{
    font-size: 12px;
    margin: 0px 16px 48px;
    @media (min-width: 768px){
      margin: 0px 40px 64px;
    }
    &__notice{
      text-decoration: none;
      color:rgb(0, 149, 238);
    }
  }
}
