.fa-question-circle{
  color:rgb(0, 149, 238);
  margin-left: 8px;
  margin-bottom:8px;
}

.product{
  background-color:lightgray;
  &__contents{
    background-color:white;
    margin: 0px auto;
    width: 100%;
    @media(min-width: 768px) {
    max-width: 700px;
    }
    @media(min-width: 1068px) {
    max-width: 700px;
    }
    .ImageSide{
      padding: 16px;
      font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      border-bottom:1px solid lightgray;
      @media(min-width: 768px) {
      padding: 40px;
      }
      &__label{
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4em;
        &__required{
          font-size:12px;
          color:white;
          background-color:red;
          margin-left: 8px;
          padding:0 4px;
          border-radius: 2px;
          display: inline-block;
          line-height: 1.4em;
        }
      }
      &__PhotoNumber{
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.4em;
      }
      &__form{
        &__icon{
          font-size: 24px;
          border:1px dashed lightslategray;
          background-color:rgb(245, 245, 245);
          margin-top: 10px;
          padding:0 5px;
          height: 112px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @media (min-width: 767px){
          height: 150px;
          }
          &__text{
            font-size: 12px;
            line-height: 1.4em;
            text-align: center;
            @media (max-width: 767px){
            display: none;
            }
            &__ImageFile{
              display: none;
            }
          }
        }
      }
    }
    .ProductSide{
    padding: 16px;
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    border-bottom:1px solid lightgray;
    @media(min-width: 768px) {
    padding: 40px;
    }
    &__name{
      font-size: 14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        font-size:12px;
        color:white;
        background-color:red;
        margin-left: 8px;
        padding:0 4px;
        border-radius: 2px;
        display: inline-block;
        line-height: 1.4em;
      }
    }
    &__NameBox{
      margin-top: 16px;
      padding:0 16px;
      width: 100%;
      height: 48px;
      box-sizing: border-box;
    }
    &__description{
      margin-top: 32px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        font-size:12px;
        color:white;
        background-color:red;
        margin-left: 8px;
        padding:0 4px;
        border-radius: 2px;
        display: inline-block;
        line-height: 1.4em;
      }
    }
    &__form{
      margin-top:16px;
      padding:13px 16px;
      width: 100%;
      box-sizing: border-box;
    }
    &__LengthCount{
      text-align: end;
      color: #888;
      font-size: 12px;
      line-height: 1.4em;
      margin-top:16px;
    }
    @media(min-width: 768px) {
    padding: 40px;
    }
  }
  .DetailsSide{
    padding: 16px;
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    border-bottom:1px solid lightgray;
    @media(min-width: 768px) {
    padding: 40px;
    }
    &__details{
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      margin-bottom:24px;
      color:lightgray;
    }
    &__category{
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        font-size:12px;
        color:white;
        background-color:red;
        margin-left: 8px;
        padding:0 4px;
        border-radius: 2px;
        display: inline-block;
        line-height: 1.4em;
      }
    }
    &__CategoryBox{
      width: 100%;
      height: 48px;
      margin-top:16px;
      padding:0 16px;
      text-decoration:none;
    }
    &__brand{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__any{
        font-size:12px;
        color:white;
        background-color:lightgray;
        margin-left: 8px;
        padding:0 4px;
        border-radius: 2px;
        display: inline-block;
        font-style: normal;
        line-height: 1.4em;
      } 
    }
    &__BrandName{
        width: 100%;
        height: 48px;
        margin-top:16px;
        padding:0 16px;
        box-sizing: border-box;
    }
    &__status{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        font-size:12px;
        color:white;
        background-color:red;
        margin-left: 8px;
        padding:0 4px;
        border-radius: 2px;
        display: inline-block;
        line-height: 1.4em;
      }
    }
  }
  .delivery{
    padding: 16px;
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    border-bottom:1px solid lightgray;
    @media(min-width: 768px) {
    padding: 40px;
    }
    &__method{
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      margin-bottom:24px;
      color:lightgray;
    }
    &__price{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        font-size:12px;
        color:white;
        background-color:red;
        margin-left: 8px;
        padding:0 4px;
        border-radius: 2px;
        display: inline-block;
        line-height: 1.4em;
      }
      &__CategoryBox{
        width: 100%;
        height: 48px;
        margin-top:16px;
        padding:0 16px;
        text-decoration:none;
      }
    }
    &__area{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        font-size:12px;
        color:white;
        background-color:red;
        margin-left: 8px;
        padding:0 4px;
        border-radius: 2px;
        display: inline-block;
        line-height: 1.4em;
      }
      &__CategoryBox{
        width: 100%;
        height: 48px;
        margin-top:16px;
        padding:0 16px;
        text-decoration:none;
      }
    }
    &__day{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      &__required{
        font-size:12px;
        color:white;
        background-color:red;
        margin-left: 8px;
        padding:0 4px;
        border-radius: 2px;
        display: inline-block;
        line-height: 1.4em;
      }
      &__CategoryBox{
        width: 100%;
        height: 48px;
        margin-top:16px;
        padding:0 16px;
        text-decoration:none;
      }
    }
  }
  .price{
    padding: 16px;
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    @media(min-width: 768px) {
    padding: 40px;
    }
    &__example{
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      margin-bottom:24px;
      color:lightgray;
    }
    &__SellingPrice{
      margin-top:16px;
      font-size:14px;
      font-weight: bold;
      line-height: 1.4em;
      display: flex;
      align-items: center;
      &__required{
        font-size:12px;
        color:white;
        background-color:red;
        margin-left: 8px;
        padding:0 4px;
        border-radius: 2px;
        display: inline-block;
        line-height: 1.4em;
      }
      &__PriceForm{
        margin-left: auto;
        &__input{
          margin-left: 10px;
          text-align: end;
          height: 48px;
        }
      }
    }
    &__fee{
      margin-top:32px;
      padding-bottom:16px;
      font-size:14px;
      line-height: 1.4em;
      display: flex;
      justify-content: space-between;
    }
    &__sales{
      font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      border-top:1px solid lightgray;
      padding-top: 16px;
      @media(min-width: 768px) {
      padding-top: 16px;
      }
      font-size:14px;
      line-height: 1.4em;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .BtnSide{
    margin: 0px 16px 24px;
    @media(min-width: 768px) {
      margin: 0px auto 32px;
      width: 360px;
    }
    &__listing-btn{
      display: block;
      background-color:#3CCACE;
      font-size: 17px;
      min-height: 48px;
      padding: 0 24px;
      border: 1px solid transparent;
      border-radius: 4px;
      font-weight: bold;
      color:white;
      width:100%;
      }
    &__draft-btn{
      margin-top:15px;
      background-color:lightgray;
      font-size: 17px;
      min-height: 48px;
      padding: 0 24px;
      border: 1px solid transparent;
      border-radius: 4px;
      font-weight: bold;
      width:100%;
    }
    &__return{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top:15px;
      text-decoration: none;
      color:rgb(0, 149, 238);
    }
    &__required{
      font-size:12px;
      color:white;
      background-color:red;
      margin-left: 8px;
      padding:0 4px;
      border-radius: 2px;
      display: inline-block;
      line-height: 1.4em;
    }
  }
  .caution{
    font-size: 12px;
    margin: 0px 16px 48px;
    @media (min-width: 768px){
      margin: 0px 40px 64px;
    }
    &__notice{
      text-decoration: none;
      color:rgb(0, 149, 238);
    }
  }
}
}