// ここから詳細画面 田村作成
* {
  box-sizing: border-box;
}

* ul,li {
  padding: 0;
  margin: 0;
}

* h3 {
  margin: 0;
}

* p {
  margin: 0;
}

.Header {
  height: 100px;
  background-color: aquamarine;
}

.Main {
  background-color: #f8f8f8;
}

.MainShow {
  padding: 40px;
  margin: 0 auto;
}

.Main-contents {
  width: 700px;
  margin: 0 auto;
}

.Category-nav {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

.Category-nav ul {
  padding: 17px 0 16px;
  width: 100%;
  font-size: 14px;
  margin: 0 auto;
  display: flex;
}

.Category-nav ul li {
  padding: 0 10px 0 0;
}

.Category-nav a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #3CCACE;
}

li.item-name {
  font-weight: bold;
}

.ItemBox {
  background: #fff;
  padding: 24px 40px 40px;
  &__name {
    text-align: center;
  }
  &__photo {
    margin: 16px 0 0;
    & ul li {
    display: flex;
    flex-direction: column;
    width: 560px;
    align-items: center;
    margin: 0 auto;
    }
    & ul>li img {
      object-fit: cover;
      height: 346px;
    }
    & ul>li ul {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    & ul>li>ul li {
      width: 25%;
      margin: 0 10px 0 0;
    }
    & ul li>ul li img {
      object-fit: cover;
      height: 87px;
    }
  }
  &__price {
    margin: 24px 0 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    & span {
      font-size: 46px;
      font-weight: bold;
      margin: 0 10px 0 0;
    }
    &-info span {
      font-size: 16px;
      font-weight: normal;
    }
  }
  &__description {
    font-size: 18px;
    margin-bottom: 30px;
  }
  &__details {
    margin-bottom: 20px;
    & table {
      width: 100%;
      height: 375px;
      border-collapse: collapse;
      border: 1px solid #f8f8f8;
      & th {
        width: 20%;
        background-color: #eee;
        font-weight: 400;
        padding: 8px;
        border: 1px solid #dedede;
        font-size: 14px;
        text-align: center;
      }
      & td {
        width: 61%;
        padding: 15px 15px;
        border: 1px solid #dedede;
        font-size: 14px;
        & a {
          text-decoration: none;
          color: #3CCACE;
        }
      } 
    }
  }
}

img {
  width: 100%;
}

.ItemBox__btn {
  display: flex;
  justify-content: space-between;
  & ul {
    margin: 10px 0 0;
    display: flex;
  }
  &-like {
    margin-right: auto;
    padding: 6px 10px;
    border-radius: 40px;
    color: #3CCACE;
    border: 1px solid #ffb340;
  }
}

li.ItemBox__btn-report a {
  padding: 6px 10px;
  display: inline-block;
  border-radius: 4px;
  color: #333;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 14px;
}

.CommentArea {
  padding: 24px;
  background-color: #fff;
  margin: 10px 0;
  text-align: center;
}

.CommentArea #comment {
  width: 100%;
  min-height: 104px;
  padding: 10px;
}

p.caution {
  padding: 8px;
  font-size: 14px;
  background-color: #f8f8f8;
  margin: 10px 0;
  text-align: left;
}

.button {
  line-height: 48px;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
  margin-top: 30px;
}

.AnotherProducts a {
  text-decoration: none;
  color: #3CCACE;
}

.AnotherProducts li {
  float: left;
}

.AnotherProducts li:last-child {
  float: right;
}

.AnotherProducts::after {
  display: block;
  content: "";
  clear: both;
}

.SeeMoreProducts a {
  display: block;
  margin: 24px 0 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  position: relative;
}

.SeeMoreProduct__list {
  margin: 0 0 10px;
  width: calc(100% / 3);
  &-image {
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: auto;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: auto;
      height: 150px;
      object-fit: cover;
    }
  }
  &-body {
    background-color: white;
    color: #333;
    padding: 16px;
    .name {
    overflow: hidden;
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
    }
    .info {
      font-size: 16px;
      & ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      & p {
        font-size: 10px;
        text-align: left;
      }
    }
  }
}

.Footer {
  height: 300px;
  background-color: gray;
}
// ここまで詳細画面 田村作成