
* {
  box-sizing: border-box;
}

.Main  {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

  .Header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(min-width: 760px) {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    img {
      height: 33px;
      width: 120px;
      @media(min-width: 760px) {
      height: 49px;
      width: 185px;
      }
    }
  }


.Product_Show {
  margin: 0px auto;
  width: 100%;
  max-width: 700px;

  section {
    margin: 0px auto;
    max-width: 375px;
    display: block;
    padding: 32px 16px;
  }
  
  &--list {
    position: relative;
    background-color: white;
  }

  &_list--title {
    padding: 32px 16px;
  }
  &_List_title--name {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-family: Arial, 
    游ゴシック体, YuGothic, メイリオ, Meiryo, 
    sans-serif;
  }
  
  &_List_form-name {
    display: flex;
    box-pack: justify;
    justify-content: space-between;

    .Product_Show--image {
      display: flex;
      box-pack: center;
      justify-content: center;
      height: 80px;
      width: 80px;
      box-align: center;
      align-items: center;

      figure {
        height: 80px;
        width: 80px;
        border-radius: 4px;
        display: inline-block;
        margin: 0;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .Product_Show_text {
      width: 100%;
      margin-left: 16px;

      &--title {
        font-size: 14px;
        line-height: 1.4em;
        margin-bottom: 8px;
      }

      &--area {
        text-align: right;

        .Product_Show--shipping {
          font-size: 12px;
        }

        .Product_Show--price {
          font-size: 16px;
          font-weight: 600;
          margin-left: 8px;
        }
      }
    }
  }

   &_list-price {
      .Product_Show_price--list {
        display: flex;
        font-size: 18px;
        font-weight: 600;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        .price_area {
          font-size: 24px;
        }
      }
   }


  .Product_Show--method {

    &--list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .method--name {
        font-size: 17px;
        font-weight: 600;
      }

      .method--Change {
        font-size: 14px;
        text-decoration: none;
      }
    }
  }

    .Product_Show_List_Address_list--name {
      display: flex;
      box-pack: justify;
      justify-content: space-between;
      box-align: center;
      align-items: center;
      margin-bottom: 16px;
      
      .h3 {
        font-size: 17px;
        font-weight: 600;
      }
    }
      a {
        color: rgb(0, 149, 238);
      }

    .address--name {
      text-decoration: none;
    }

  .Product_Show_list--button {

      .btn {
        min-width: initial;
        background-color: #ea352d;
        color: #fff;
        cursor: pointer;
        width: 100%;
        font-size: 17px;
        min-height: 48px;
        padding: 0 24px;
        font-family: Arial, 
        游ゴシック体, 
        YuGothic, 
        メイリオ, 
        Meiryo, 
        sans-serif;
      }
  }
}

.Footer {
  margin-top: auto;
  text-align: center;

  &--list {
    text-align: center;
    margin-top: 20px;

    .uu {
      list-style: none;
      justify-content: center;
      margin: 20px 0px 20px 0px;
      @media (min-width: 760px){
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 16px 0px 23px -16px;
      }
    }

    .ii {
      margin: 18px 6px 0px 10px;
      font-size: 12px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  img {
    height: 65px;
    width: 80px;
    border-radius: 4px;
    object-fit: contain;
  }

  p {
    font-size: 12px;
    text-align: center;
    margin-bottom: auto;
  }
}
.BB:not(:first-child) {
  border-top: 1px solid rgb(245, 245, 245);
}