
* {
  box-sizing: border-box;
}

.Main  {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

.Header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media(min-width: 760px) {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  img {
    height: 33px;
    width: 120px;
    @media(min-width: 760px) {
    height: 49px;
    width: 185px;
    }
  }
}


.Product {
  margin: 0px auto;
  width: 100%;
  max-width: 700px;

  section {
    margin: 0px auto;
    max-width: 375px;
    display: block;
    padding: 32px 16px;
  }

  &__list {
    position: relative;
    background-color: white;
  }

  &__list--title {
    padding: 32px 16px;
  }
  &__list--name {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-family: Arial, 
    游ゴシック体, YuGothic, メイリオ, Meiryo, 
    sans-serif;
  }
  &__form {
    display: flex;
    box-pack: justify;
    justify-content: space-between;

    .Product__form--image {
      display: flex;
      box-pack: center;
      justify-content: center;
      height: 80px;
      width: 80px;
      box-align: center;
      align-items: center;

      figure {
        height: 80px;
        width: 80px;
        border-radius: 4px;
        display: inline-block;
        margin: 0;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .Product__form__show {
      width: 100%;
      margin-left: 16px;

      .Product__title {
        font-size: 12px;
        line-height: 1.4em;
        margin-bottom: 8px;
        margin-top: 0px;
      }
    
      .Product__area {
        text-align: right;

        .Product__shipping {
          font-size: 12px;
        }

        .Product__price {
          font-size: 14px;
          font-weight: 600;
          margin-left: 8px;
        }
      }
    }
  }

   &__list--price {
      .Product__price {
        display: flex;
        font-size: 18px;
        font-weight: 600;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        .price--area {
          font-size: 20px;
        }
      }
   }

  .Product__method {

    &--list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .method__name {
        font-size: 17px;
        font-weight: 600;
      }

      .method__Change {
        font-size: 14px;
        text-decoration: none;
      }
    }
    .method__text p {
      margin: 4px 0px 0px;
      font-size: 12px;
    }
  }
    .Product__address--name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      
      .h3 {
        font-size: 17px;
        font-weight: 600;
      }
    }
      a {
        color: rgb(0, 149, 238);
      }

    .address__name {
      text-decoration: none;
      font-size: 15px;
    }
  .Product__list--button {
      padding: 35px 16px 50px;

      .btn {
        background-color: #3CCACE;
        color: white;
        cursor: pointer;
        width: 100%;
        font-size: 17px;
        min-height: 48px;
        padding: 0 24px;
        border: none;
        font-family: 
        Arial,
        游ゴシック体,
        YuGothic,
        メイリオ,
        Meiryo,
        sans-serif;
      }
  }
}

.Footer {
  text-align: center;
  padding: 40px;

  &__list {
    text-align: center;
    margin-top: 20px;

    .ul {
      list-style: none;
      justify-content: center;
      margin: 20px 0px;
      padding: 0px;
      font-family: 
        Arial, 
        游ゴシック体, 
        YuGothic, 
        メイリオ, 
        Meiryo, 
        sans-serif;
      @media (min-width: 760px){
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 10px 0px 20px;
        padding: 0px;
        font-family: 
          Arial, 
          游ゴシック体, 
          YuGothic, 
          メイリオ, 
          Meiryo, 
          sans-serif;
      }
    }

    .li {
      margin: 20px 0px 0px;
      font-size: 11px;
      @media (min-width: 760px){
        margin: 18px 10px 0px 10px;
        font-size: 11px;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  img {
    height: 65px;
    width: 80px;
    border-radius: 4px;
    object-fit: contain;
  }

  p {
    font-size: 12px;
    text-align: center;
    margin-bottom: auto;
    margin-top: 0px;
    font-family: 
    Arial, 
    游ゴシック体, 
    YuGothic, 
    メイリオ, 
    Meiryo, 
    sans-serif;
  }
}
.No__fst--cld:not(:first-child) {
  border-top: 1px solid rgb(245, 245, 245);
}