@mixin linkstyle {
  text-decoration: none;
  color:rgb(0, 149, 238);
}

@mixin button {
  background-color:#3CCACE;
  font-size: 17px;
  min-height: 48px;
  padding: 0 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: bold;
  color:white;
  width:100%;
}

@mixin form {
  background-color:white;
  margin: 0px auto;
  width: 100%;
  @media(min-width: 768px) {
  max-width: 700px;
  }
  @media(min-width: 1068px) {
  max-width: 700px;
  }
}

@mixin item {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4em;
}

@mixin requirement {
  font-size:12px;
  color:white;
  background-color:red;
  margin-left: 8px;
  padding:0 4px;
  border-radius: 2px;
  display: inline-block;
  line-height: 1.4em;
}

@mixin input {
  margin-top: 16px;
  padding:0 16px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  font-weight: normal;
}

@mixin arbitrary {
  font-size:12px;
  color:white;
  background-color:gray;
  margin-left: 8px;
  padding:0 4px;
  border-radius: 2px;
  display: inline-block;
  line-height: 1.4em;
}

// 新規会員・ログイン画面共有のSCSS

.Container {
  background-color:lightgray;
}

// ここから新規会員登録画面のSCSS

  .Register {
    @include form;
    &__title {
      font-size: 22px;
      padding: 32px;
      text-align: center;
      border-bottom:1px solid lightgray;
      line-height: 1.5;
      font-weight: bold;
    }
    &__submit {
      @include button;
    }
  }

    .Contents {
      padding: 40px 40px 64px;
    }

    .ContentBlock {
      @media(min-width: 768px) {
      padding: 20px;
      }
      &__item {
        @include item;
      }
      &__requirement{
        @include requirement;
      }
      &__arbitrary {
        @include arbitrary;
      }
      &__input {
        @include input;
      }
      &__submit {
        display: block;
        @include button;
      }
    }


    .Input {
      &__name {
        display: flex;
        &-block {
          display: flex;
          flex-direction: column;
        }
      }
      &__family-name {
        margin: 16px 10px 0 0;
        padding: 0 40px 0 16px;
        box-sizing: border-box;
        font-weight: normal;
        height: 48px;
      }
      &__first-name {
        margin: 16px 10px 0 0;
        padding: 0 40px 0 16px;
        height: 48px;
        box-sizing: border-box;
        font-weight: normal;
      }
    }

// ここからユーザーログイン画面のSCSS

  .ContainerForm {
    @include form;
  }

    .NoAccount {
      // ＝ Registerクラス
      font-size: 22px;
      padding: 32px 64px;
      text-align: center;
      border-bottom:1px solid lightgray;
      line-height: 1.5;
      font-weight: bold;
      &__explanation {
        font-size: 14px;
      }
      &__submit {
        @include button;
      }
    }

    .Login {
      &__contents {
        // = Contentsクラス
        padding: 40px 40px 64px;
      }
    }
    .LoginBlock {
      // ＝ ContentBlockクラス
      @media(min-width: 768px) {
        padding: 40px;
        }
      &__item {
        @include item;
      }
      &__requirement {
        @include requirement;
      }
      &__arbitrary {
        @include arbitrary;
      }
      &__input {
        @include input;
      }
      &__submit {
        @include button;
        margin-bottom: 40px;
      }
    }

      .PasswordReissue {
        @include linkstyle;
      }

// マイページTOP
main {
  display: block;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.MyPage {
  &__Main {
    background-color: #f8f8f8;
    padding-top: 10px;
    height: 100%;
    width: 100vw;
  }
  &__Content {
    background-color: #fff;
    .User-icon {
      position: relative;
      padding: 20px;
      background-color: $main-color;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      h2 {
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 1.4;
      }
      &__info {
        margin: 8px 0 0;
        div {
          display: inline-block;
          font-size: 14px;
        }
        span {
          margin: 0 0 0 8px;
          font-size: 16px;
        }
        div+div {
          margin: 0 0 0 16px;
        }
      }
      a {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #333;
        text-decoration: none;
        figure {
          overflow: hidden;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;
        }
        img {
          vertical-align: middle;
        }
      }
    }
  }
  &__Side {
    margin: 40px auto 0;
    a {
      text-decoration: none;
    }
  }
}

// サイドバー
.Side__nav {
  &-head {
    margin: 40px 4% 0;
    font-size: 16px;
    font-weight: bold;
  }
  &-list li {
    border-top: 1px solid #eee;
  }
  &-list li:first-child {
    border: 0;
  }
  &-btn.active {
    background-color: #eee;
    font-weight: 600;
    a {
      display: block;
      padding: 16px;
      text-decoration: none;
      font-size: 14px;
      min-height: 48px;
      color: #333;
      position: relative;
      &::after{
        content: "";
        position: absolute;
        right: 16px;
        top: 22px;
        width: 8px;
        height: 8px;
        border-top: 2px solid #333;
        border-right: 2px solid #333;
        transform: rotate(45deg);
        transition: 0.3s;
      }
      &:hover{
        background-color: #eee;
        &::after{
          right: 13px;
          border-color: #333;
        }
      }
    }
  }
  &-btn {
    background-color: #fff;
    a {
      display: block;
      padding: 16px;
      text-decoration: none;
      font-size: 14px;
      min-height: 48px;
      color: #333;
      position: relative;
      &::after{
        content: "";
        position: absolute;
        right: 16px;
        top: 22px;
        width: 8px;
        height: 8px;
        border-top: 2px solid #ccc;
        border-right: 2px solid #ccc;
        transform: rotate(45deg);
        transition: 0.3s;
      }
      &:hover{
        background-color: #f5f5f5;
        &::after{
          right: 13px;
          border-color: #333;
        }
      }
    }
  }
}

// ログアウト メイン画面

.Logout-form {
  text-align: center;
  background-color: #fff;
  padding: 64px 180px;
  a {
    text-decoration: none;
  }
}

.Logout-btn {
  display: block;
  background-color: #3CCACE;
  font-size: 17px;
  line-height: 48px;
  padding: 0 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  max-width: 320px;
}

// @media記述部分

@media screen and (min-width: 0px) {
  .MyPage {
    margin: 24px auto 0;
    padding: 0 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .MyPage {
    width: 700px;
  }
}

@media screen and (min-width: 1068px) {
  .MyPage {
    margin: 40px auto 0;
    width: 1020px;
  }
}


@media screen and (min-width: 0px) {
  .MyPage__Content {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .MyPage__Content {
    float: none;
    width: 700px;
  }
}

@media screen and (min-width: 1068px) {
  .MyPage__Content {
    float: right;
  }
}

@media screen and (min-width: 0px) {
  .User-icon {
    height: 155px;
  }
}

@media screen and (min-width: 768px) {
  .User-icon {
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .MyPage__Side {
    width: 700px;
  }
}

@media screen and (min-width: 1068px) {
  .MyPage__Side {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
  }
}

@media screen and (min-width: 768px) {
  .Side__nav-head {
    margin: 40px 0 0;
  }
}

// エラーメッセージ

.error_explanation {
  padding: 0 20px;
  h2 {
    color: red;
    font-weight: bold;
  }
}

.alert {
  font-weight: bold;
  color: red;
}

.error__message {
  display: contents;
  margin-top: 5px;
  color: red;
  font-size: 14px;
}

.field_with_errors {
  display: contents
}