.AppBanner
  .Inner
    %h2.Inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.Inner__text
      今すぐ無料ダウンロード！
    .Inner__btn
      %a{ href: '#' }
        = image_tag 'material/badge/Download_on_the_App_Store_Badge_US-UK_blk_092917.png', class: "appleIcon"
      %a{ href: '#' }
        = image_tag 'material/badge/google-play-badge.png', class: "googleIcon"
%footer
  %ul.Contents
    %li.Content
      %h2.Content__head
        FURIMAについて
      %ul
        %li
          %a{ href: '#' }
            会社概要（運営会社）
        %li
          %a{ href: '#' }
            プライバシーポリシー
        %li
          %a{ href: '#' }
            FURIMA利用規約
        %li
          %a{ href: '#' }
            ポイントに関する特約
    %li.Content
      %h2.Content__head
        FURIMAを見る
      %ul
        %li
          %a{ href: '#' }
            カテゴリー一覧
        %li
          %a{ href: '#' }
            ブランド一覧
    %li.Content
      %h2.Content__head
        ヘルプ＆ガイド
      %ul
        %li
          %a{ href: '#' }
            FURIMAガイド
        %li
          %a{ href: '#' }
            FURIMAロゴ利用ガイドライン
        %li
          %a{ href: '#' }
            お知らせ
  .FooterLogo
    %a{ href: '#' }
      = image_tag 'material/logo/logo-white.png', class: "Logo"
  %p
    © FURIMA