.footer
  .footer__RuleSide
    %ul.rules
      %li= link_to "プライバシーポリシー","#",class: "rule"
      %li= link_to "FURIMA利用規定","#", class: "rule"
      %li= link_to "商品取引に関する表記","#",class: "rule"
  .footer__image
    = link_to image_tag("material/logo/logo-white.png",class: "logo"), "#"
  .footer__copyright
    ©️FURIMA.INC
